
<div class="nav-shell">
  <div class="nav-header">
    <span class="nav-title">Navegación</span>
    <span class="nav-caption">Módulos</span>
  </div>

  <mat-list role="list" class="nav-list">
    <mat-list-item
      role="listitem"
      *ngFor="let option of sideNavContent"
      class="nav-item"
      [routerLink]="['/' + option.link]"
      routerLinkActive="active"
    >
      <mat-icon class="nav-icon" matListItemIcon>{{ option.icon }}</mat-icon>
      <span class="nav-label">{{ option.title | titlecase }}</span>
    </mat-list-item>
  </mat-list>
</div>
