<mat-card>
    <mat-card-title>Project</mat-card-title>
    <mat-card-content>  
        <form [formGroup]="form">     
        <mat-grid-list cols="2" rowHeight=925px>
          <mat-grid-tile>
            <div>
            <mat-form-field>
              <input type="text" matInput placeholder="Name" formControlName="name">
            </mat-form-field>

          @if (form.get('username')?.errors && form.get('username')?.touched) {
            <p>
              Error
            </p>
            }

            <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field> 
            
            <mat-form-field>
              <mat-label>Product</mat-label>
              <input type="text" matInput formControlName="product" 
                                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" 
                                [displayWith]="displayFn">
                <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                  {{product.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Status</mat-label>
              <input type="text" matInput placeholder="Status" formControlName="status">
            </mat-form-field> 

        
          <mat-form-field style="width: 32%;">
            <mat-label>Development</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateDev">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field style="margin-right:12px; margin-left:12px; width: 32%;">
            <mat-label>Pre Production</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="datePre">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field style="width: 32%;">
            <mat-label>Production</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="datePro">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>        
          
            <mat-form-field>
              <mat-label>Responsible</mat-label>
              <input type="text" matInput formControlName="responsible" 
                                  [matAutocomplete]="autoUser">
                <mat-autocomplete #autoUser="matAutocomplete" 
                            [displayWith]="displayUserFn">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                  {{user.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
 

          <div class="container">
            <h2>Users</h2>
            <div              
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="users()"
              [cdkDropListConnectedTo]="[doneList]"
              class="list"
              (cdkDropListDropped)="drop($event)">
              @for (item of users(); track item) {
                <div class="box" cdkDrag>{{item.name}}</div>
              }
            </div>
          </div>
          <div class="container">
            <h2>Contributors</h2>
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="contribuitors()"
              [cdkDropListConnectedTo]="[todoList]"
              class="list"
              (cdkDropListDropped)="drop($event)">
              @for (item of contribuitors(); track item) {
                <div class="box" cdkDrag>{{item.name}}</div>
              }
            </div>
          </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>

              <mat-form-field>
                <input type="text" matInput placeholder="Release" formControlName="reference1">
              </mat-form-field>

              <mat-form-field>
                <input type="text" matInput placeholder="FrontWork" formControlName="reference2">
              </mat-form-field>

              
              <mat-form-field style="width: 33%;">
                <mat-label>Contribuitors</mat-label>
                <input type="text" matInput placeholder="Contribuitors" formControlName="countContributors">
              </mat-form-field> 
              <mat-form-field style="width: 33%;">
                <mat-label>Time</mat-label>
                <input type="text" matInput placeholder="Time" formControlName="time">
              </mat-form-field> 
              <mat-form-field style="width: 33%;">
                <mat-label>Duration</mat-label>
                <input type="text" matInput placeholder="Duration" formControlName="duration">
              </mat-form-field> 
              

              <table mat-table [dataSource]="dtos()">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef> Time </th>
                  <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>                

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
          </mat-grid-tile>
        </mat-grid-list>

            <mat-card-footer>
              @if (!form.get('id')?.value) {
                <button type="submit" (click)="create($event)" mat-flat-button [disabled]="form.invalid || !dateOk">Save</button>   
              }@else {
                <div class="space-between">
                    <button type="submit" (click)="update($event)" mat-flat-button [disabled]="form.invalid || !dateOk">Update</button>   
                    <button type="submit" (click)="delete($event)" mat-flat-button [disabled]="form.invalid || !dateOk">Delete</button>  
                </div>
              }
              @if (error) {
                <div>
                    <mat-error>{{ error }}</mat-error>
                    <mat-error>{{ message }}</mat-error>
                    <mat-error>{{ message2 }}</mat-error>
                </div>
              }

              @if(form.get('dateDev')?.value > form.get('datePre')?.value && form.get('datePre')?.value){
                <mat-error>Fecha de PreProduccion no puede ser inferior a fecha de Desarrollo</mat-error>
              }
              @if(form.get('datePre')?.value > form.get('datePro')?.value && form.get('datePro')?.value){
                <mat-error>Fecha de Produccion no puede ser inferior a fecha de PreProduccion</mat-error>
              }
            </mat-card-footer>


        </form>
    </mat-card-content>
</mat-card>