<mat-card>
  <mat-card-header>
    <mat-card-title>Projects</mat-card-title>
    <mat-card-subtitle>
      <div class="action-buttons">
        <button mat-button (click)="accordion().openAll()">Expand All</button>
        <button mat-button (click)="accordion().closeAll()">Collapse All</button>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion multi>
      @for (technology of technologies(); track technology) {

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title> {{technology.name}} </mat-panel-title>
          </mat-expansion-panel-header>
          @for (product of technology.products; track product) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> {{product.name}} </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
            <mat-card-content>  
              <table mat-table [dataSource]="product.projects">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Project </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                  
                <ng-container matColumnDef="contributors">
                    <th mat-header-cell *matHeaderCellDef> Contributors </th>
                    <td mat-cell *matCellDef="let element"> {{element.getCountContributors()}} </td>
                </ng-container>  
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>    
                  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row
                  (click)="edit(row.id)"
                  *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
            </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
      }
      </mat-expansion-panel>

      }  
    </mat-accordion> 

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="create()">
      Create
    </button>
  </mat-card-actions>
</mat-card>









<!--
<div class="action-buttons">
  <button mat-button (click)="accordion().openAll()">Expand All</button>
  <button mat-button (click)="accordion().closeAll()">Collapse All</button>
</div>
<mat-accordion multi>
  @for (technology of technologies(); track technology) {
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title> Tecnology:  {{technology.name}} </mat-panel-title>
          <mat-panel-description> Products: {{technology.getCountProducts()}} </mat-panel-description>
      </mat-expansion-panel-header>
      @for (product of technology.products; track product) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Product: {{product.name}} </mat-panel-title>
          <mat-panel-description> Projects: {{product.getCountProjects()}} </mat-panel-description>
        </mat-expansion-panel-header>
        
        <table mat-table [dataSource]="product.projects">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
            
          <ng-container matColumnDef="contributors">
              <th mat-header-cell *matHeaderCellDef> Contributors </th>
              <td mat-cell *matCellDef="let element"> {{element.getCountContributors()}} </td>
          </ng-container>  
          <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef> Time </th>
              <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>    
            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
            (click)="edit(row.id)"
            *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </mat-expansion-panel>
  }
  </mat-expansion-panel>
}  
</mat-accordion>  

<div class="action-buttons">
  <button mat-raised-button (click)="create()">
    Create
  </button>
</div>
-->