<mat-card>
    <mat-card-title>User</mat-card-title>
    {{ratio}}
    <mat-card-content>
        <form [formGroup]="form">     
        <!--  <mat-grid-list cols="2" rowHeight="1.6:1"> -->
          <mat-grid-list cols="2" rowHeight=650px>
          <mat-grid-tile>
          <div>
          <mat-form-field>
            <input type="text" matInput placeholder="UserName" formControlName="username">
          </mat-form-field>
<!--
          <mat-form-field>
            <input type="text" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
-->
          <mat-form-field>
            <input type="text" matInput placeholder="Name" formControlName="name">
          </mat-form-field>          

          <mat-form-field>
            <input type="text" matInput placeholder="Lastname" formControlName="lastname">
          </mat-form-field>

          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email">
          </mat-form-field>

          <div class="container">
            <h2>All Technologies</h2>
            <div              
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="all_technologies()"
              [cdkDropListConnectedTo]="[doneList]"
              class="list"
              (cdkDropListDropped)="drop($event)">
              @for (item of all_technologies(); track item) {
                <div class="box" cdkDrag>{{item.name}}</div>
              }
            </div>
          </div>
          <div class="container">
            <h2>My Technologies</h2>
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="my_technologies()"
              [cdkDropListConnectedTo]="[todoList]"
              class="list"
              (cdkDropListDropped)="drop($event)">
              @for (item of my_technologies(); track item) {
                <div class="box" cdkDrag>{{item.name}}</div>
              }
            </div>
          </div>
          </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <div class="inline">
              <mat-form-field>
                <mat-label>Products</mat-label>
                <input type="text" matInput placeholder="Products" formControlName="countProducts">
              </mat-form-field> 
<!--
              <mat-form-field style="margin-right:12px; margin-left:12px;">
                <mat-label>Projects</mat-label>
                <input type="text" matInput placeholder="Projects" formControlName="countProjects">
              </mat-form-field> 
-->
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input type="text" matInput placeholder="Time" formControlName="time">
              </mat-form-field> 
              </div>
              <table mat-table [dataSource]="products()">

                <ng-container matColumnDef="product">
                  <th mat-header-cell *matHeaderCellDef> Product </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="technology">
                  <th mat-header-cell *matHeaderCellDef> Technology </th>
                  <td mat-cell *matCellDef="let element"> {{element.technology.name}} </td>
                </ng-container>

                <ng-container matColumnDef="responsible">
                  <th mat-header-cell *matHeaderCellDef> Responsible </th>
                  <td mat-cell *matCellDef="let element"> {{element.responsible.name}} </td>
                </ng-container>

                <ng-container matColumnDef="countProjects">
                  <th mat-header-cell *matHeaderCellDef> Projects </th>
                  <td mat-cell *matCellDef="let element"> {{element.countProjects}} </td>
                </ng-container>

                <ng-container matColumnDef="countContributors">
                  <th mat-header-cell *matHeaderCellDef> Contributors </th>
                  <td mat-cell *matCellDef="let element"> {{element.countContributors}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef> Time </th>
                  <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>                

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>            
          </mat-grid-tile>
          </mat-grid-list>
          <mat-card-footer>
            @if (!form.get('id')?.value) {
                <button type="submit" (click)="create($event)" mat-flat-button [disabled]="form.invalid">Save</button>   
            }@else {
                <div class="space-between">
                    <button type="submit" (click)="update($event)" mat-flat-button [disabled]="form.invalid">Update</button>   
                    <button type="submit" (click)="delete($event)" mat-flat-button [disabled]="form.invalid">Delete</button>  
                </div>
            }
            @if (error) {
              <div>
                  <mat-error>{{ error }}</mat-error>
                  <mat-error>{{ message }}</mat-error>
                  <mat-error>{{ message2 }}</mat-error>
              </div>
              }
          </mat-card-footer>
        </form>  
    </mat-card-content>
</mat-card>
